# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data (keep raw tracked, ignore large processed files — except our clean output)
!data/processed/global_health_clean.csv
data/processed/*.parquet

# Distribution
dist/
*.egg-info/
